@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor Accessor



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HOOOTels</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/picture.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/order.css" />
    <link rel="icon" href="~/img/icon/favicon.ico"/>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container">
                <div class="header_container_for_picture">
                    <img class="Header_picture" src="~/img/hotel_title.png" />
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Hotels</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @{if (!(@Accessor.HttpContext.Session.Keys.Contains("UserName")))
                            {


                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Accounts" asp-action="Login">Log in</a>
                                </li>
                            }
                            else
                            {
                                if (@Accessor.HttpContext.Session.GetString("Role_Name") == "Admin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Hotel" asp-action="Index">Hotel</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Order" asp-action="Orders">Orders</a>
                                    </li>

                                }

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Accounts" asp-action="Account">Account</a>
                                </li>
                            }
                        }
                    </ul>
                </div>

                @{ if (@Accessor.HttpContext.Session.Keys.Contains("UserName"))
                    { <div>
                        <a style="color:gray"> Welcome @Accessor.HttpContext.Session.GetString("UserName")</a>
                      </div>
                        <div>
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Accounts" asp-action="Logout"  >Logout</a>
                                </li>
                            </ul>
                        </div>
                    }

                }


            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HOOOTels - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

