@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@model System.Data.DataTable
@{
    ViewData["Title"] = "Account";
}

<div>
    <div>
        <h1>Account</h1>
            <h2>UserName: @Accessor.HttpContext.Session.GetString("UserName")</h2>
            <P>Name: @Accessor.HttpContext.Session.GetString("Name") </P>
            <P>Email: @Accessor.HttpContext.Session.GetString("Email")</P>
        </div>
        <div class ="btn btn-primary">
            <a asp-controller="Home" asp-action="Index">Back to Hotels</a>
        </div>
    </div>
    @if (@Accessor.HttpContext.Session.Keys.Contains("User_ID") && Accessor.HttpContext.Session.GetString("Role_Name") == "User")
    {
        <div style ="margin-top: 20px; ">
            <table class="table table-bordered">
                <thead >
                    <tr class="text-muted">
                        <th>
                            Hotel name
                        </th>
                        <th>
                            Room
                        </th>
                        <th>
                            Number of beds
                        </th>
                        <th>
                            Class
                        </th>
                        <th>
                            Arrival time
                        </th>
                        <th>
                            Days
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Bill
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Rows.Count; i++)
                    {
                        <tr class="text-muted">
                            <td>
                                <img src="@UserViewModel.ImagePath[i]" style="width:6vw" />
                            </td>
                            <td>
                                @Model.Rows[i]["Room"]
                            </td>
                            <td>
                                @Model.Rows[i]["Amount_beds"]
                            </td>
                            <td>
                                @Model.Rows[i]["Class"]
                            </td>

                            <td>
                                @Model.Rows[i]["Arrival_time"]
                            </td>
                            <td>
                                @Model.Rows[i]["Days"]
                            </td>
                            <td>
                                @Model.Rows[i]["Status_name"]
                            </td>
                            <td>
                                @Model.Rows[i]["Bill"]
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</div>
@section scripts{
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
}